
// модификатор блока
.block1
  &_modificator
    & ^[0]__element1
      font-size em(24px)

    & ^[0]__element2
      font-size em(16px)


// модификатор элемента
.block2
  &__element
    height 10px

    &_modificator
      height 20px
